<div class="panel-footer">
    <div class="left_count">
        <span class="label label-default">{{$ctrl.leftCount}} item left</span>
    </div>

    <div class="btn-group" role="group">
        <a href="#/" 
            ng-class="$ctrl.filter === '' ? 'btn btn-primary' : 'btn btn-default'">All</a>
        <a href="#/active" 
            ng-class="$ctrl.filter === false ? 'btn btn-primary' : 'btn btn-default'">Active</a>
        <a href="#/completed"
            ng-class="$ctrl.filter === true ? 'btn btn-primary' : 'btn btn-default'">Completed</a>
    </div>

    <div class="clear_completed">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success" ng-click="$ctrl.checkAll()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.removeCompleted()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>